* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins';
}

/* ============= Common ============== */
.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: #5F5B53;
}

.btn {
    border-radius: 24.5px;
    background: #171100;
    display: inline-block;
    padding: 17px 0;
}

.btn:hover {
    opacity: 0.9;
}

/* ============= Header ============== */
header {
    height: 90px;
    background: #FFFCF4;
}

.navbar {
    padding-top: 36px;
    display: flex;
    align-items: center;
}

.navigations {
    display: flex;
    margin-left: auto;
    margin-right: 70px;
    gap: 42px;
}

.navigations  a {
    font-size: 1.6rem;
    font-weight: 400;
}

.navigations li:first-child a {
    position: relative;
    color: #171100;
    font-size: 1.6rem;
    font-weight: 600;
}

.navigations li:first-child a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.navbar .sign-up-link {
    padding: 17px 42px;
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 600;
}

/* ============= Hero ============== */
.hero {
    background: #FFFCF4;
    height: 810px;
}

.hero .content {
    height: 100%;
    display: flex;
    align-items: center;
}

.hero-info {
    margin-left: 230px;
    width: 470px;
}

.hero-info .title {
    color: #171100;
    font-family: "Sen";
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 117.241%;
    letter-spacing: -0.116rem;
}   

.hero-info .title-desc {
    margin-top: 22px;
    color: #5F5B53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 166.67%;
}

.preview {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.preview-btn {
    display: inline-block;
    padding: 23px 34px;
    border-radius: 32px;
    background: #FFB900;
}

.preview-link {
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 600;
}

.icon-wrapper {
    position: relative;
    width: 40px;
    height: 40px;
    margin-left: 12px;
}

.preview-icon {
    position: absolute;
    top: -7px;
}

.preview span {
    margin-left: 33px;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
}

.hero-info .stats {
    margin-top: 48px;
}

.hero-info .stats .stats-title {
    color: #5F5B53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 166.667%;
}

.stats-content {
    margin-top: 8px;
    display: flex;
    gap: 28px;
}

.stats-content p {
    color: #5F5B53;
    font-size: 1.8rem;
    font-weight: 400;
}

.stats-content strong {
    color: #171100;
    margin-right: 12px; 
    font-family: "Sen";
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 122.727%; 
}

/* ============= Courses ============== */
.courses {
    margin-top: 200px;
}

.courses .sub-title {
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
}

.courses .sub-title-desc {
    width: 460px;
    margin-top: 16px;
    color: #5F5B53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 166.67%;
}

.courses-selection {
    display: flex;
    justify-content: space-between;
}

.courses-selection .selection-tool {
    display: flex;
}

.courses-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.course-item {
    border-radius: 12px;
    border: 1px solid #E2DFDA;
    overflow: hidden;
}

.course-thumb {
    height: 278px;
    width: 100%;
    object-fit: cover;
}
