* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ffb900;
    --font-heading: Sen, sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins';
}

/* ============= Common ============== */
.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

a {
    text-decoration: none;
    color: #5F5B53;
}

.btn {
    border-radius: 999px;
    background: #171100;
    display: inline-block;
    padding: 18px 24px;
}

.btn:hover {
    opacity: 0.9;
}

.row {
    display: flex;
}

.heading {
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #171100;
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.17;
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.26;
}

.desc {
    color: #5F5B53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 166.67%;
}

.sub-heading {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.sub-desc {
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

/* ============= Header ============== */
header {
    background: #FFFCF4;
}

header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.navbar {
    padding: 36px 0 8px;
    display: flex;
    align-items: center;

}

.navigations {
    display: flex;
    margin-left: auto;
    margin-right: 49px;
}

.navigations  a {
    position: relative;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 0 21px;
}

.navigations  a:hover {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}

.navigations li.active a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 21px;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.navigations li.active a {
    color: #171100;
    font-size: 1.6rem;
    font-weight: 600;
}

.navbar .sign-up-link {
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 17px 42px;
}

/* ============= Hero ============== */
.hero {
    background: #FFFCF4;
    padding: 57px 0 65px 0;
}

.hero .content {
    height: 100%;
    display: flex;
}

.img-wrapper {
    position: relative;
    width: 48%;
}

.hero .img-wrapper .img {
    display: block;
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.categories {
    width: 270px; 
    padding: 24px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
    position: absolute;
    bottom: 48px;
    right: 0;
}

.categories .row {
    display: flex;
    align-items: center;
    gap: 16px;
}

.category-group + .category-group {
    margin-top: 14px;
}

.illu-wrapper {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--bgc-color);
}

.category-group .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.category-group .details .quantity {
    color: #5F5B53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 185.714%;

}

.category-group .details .name {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 166.667%;
}

.hero-info {
    padding: 64px 0 0 130px;
    width: 52%;
}

.hero-info .heading-desc {
    margin-top: 22px;
}

.preview {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.preview-btn {
    padding: 23px 34px;

    border-radius: 32px;
    background: var(--primary-color);
}

.preview-link {
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 600;
}

.icon-wrapper {
    position: relative;
    width: 40px;
    height: 40px;
    margin-left: 12px;
}

.preview-icon {
    position: absolute;
    top: -7px;
}

.preview span {
    margin-left: 33px;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
}

.hero-info .stats {
    margin-top: 48px;
}

.hero-info .stats .stats-title {
    color: #5F5B53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 166.667%;
}

.stats-content {
    margin-top: 8px;
    display: flex;
    gap: 28px;
}

.stats-content p {
    color: #5F5B53;
    font-size: 1.8rem;
    font-weight: 400;
}

.stats-content strong {
    color: #171100;
    margin-right: 12px; 
    font-family: "Sen";
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 122.727%; 
}

/* ============= Courses ============== */
.courses {
    margin: 200px 0;
}

.courses-info .desc {
    width: 458px;
    margin-top: 16px;
}

.courses-selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.courses-selection .selection-tool {
    display: flex;
    gap: 18px;
}

.btn-chevron {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background: transparent;
}

.btn-chevron:hover {
    color: #fff;
    background-color: var(--primary-color);
    cursor: pointer;
}

.courses-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.course-item {
    border-radius: 12px;
    border: 1px solid #E2DFDA;
    overflow: hidden;
    width: 33.33%;
}

.course-item:hover {
    border-color: transparent;;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.course-thumb {
    height: 278px;
    width: 100%;
    object-fit: cover;
}

.course-info {
    padding: 16px 22px 22px;
}

.course-item .row {
    display: flex;
    justify-content: space-between;
}

.course-info .sub-desc {
    margin-top: 6px;
}

.course-info .rating {
    color: #FEA31B;
    display: flex;
    font-size: 1.6rem;
    font-weight: 400;
    align-items: center;
    gap: 6px;
}

.course-item .row-bottom {
    margin-top: 12px;
    align-items: center;
}

.booking-btn {
    color: #FFF;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 18px 24px;
}

.booking-btn:hover {
    background: var(--primary-color);
}

/* ============= Testimonial ============== */
.testimonial {
    background-color: #2E2100;
    padding: 96px 0;
}

.feedback-list {
    display: flex;
    overflow: hidden;
}

.persona {
    display: flex;
    flex-shrink: 0;
    width: 100%;
}

.profile .name {
    margin-top: 18px;
    color: #F7F7F7;
    font-family: Sen, sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    white-space: nowrap;
}

.profile .desc {
    margin-top: 4px;
    color: #BFBCB2;
    font-size: 1.4rem;
    font-weight: 400;
    white-space: nowrap;
} 

.profile .carousel {
    margin-top: 28px;
}

.testimonial .quote-wrapper {
    margin-left: auto;
    width: 66%;
}

.testimonial blockquote {
    color: #FFF;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 153.846%;
}

.quote-wrapper .quote-icon {
    transform: translateX(-100%);
}

/* ============= Subscription ============== */

.subscription {
    margin: 200px 0;
}

.subscription img {
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);

}

.subscription .btn {
    width: 137px;
    height: 50px;
    margin-top: 32px;
    background: var(--primary-color);
    color: #fff;
    border-radius: 26px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
}

.subscription h2 {
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 126.316%;
    letter-spacing: -0.02em;
}

.subscription p {
    margin-top: 16px;
    color: #5F5B53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 175%;
}

.subscription .body {
    display: flex;
    justify-content: space-between;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Report */
.report .img-wrapper {
    display: flex;
    gap: 30px;
}

.report .img-wrapper img {
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
}

.report .img-wrapper img:first-child {
    margin-top: 33px;
}

.report .info {
    width: 41%;
}

/* Join */

.join {
    margin-top: 200px;
}

.join .info {
    width: 49%;
}


.join img {
    width: 470px;
    height: 440px;
    object-fit: cover;
    border-radius: 20px;
}

/* ============= Blog ============== */
.blog {
    padding: 96px 0;
    background: #FFFCF4;
}

.title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog .sub-title {
    color: #130606;
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: -0.02em;
    text-align: center;
}

.blog .desc {
    margin-top: 16px;
    color: #696262;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 175%;
    width: 448px;
    text-align: center;
}

.blog-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
    overflow: hidden;
}

.blog-item {
    flex-shrink: 0;     
    border-radius: 16px;
    background: #FFF;
    overflow: hidden;
    width: calc(33.33% - 20px);
}

.blog-item:hover {
    border-color: transparent;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.blog-item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.date {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding-bottom: 12px;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.date::before {
    content: "";
    width: 6px;
    height: 6px;
    margin-right: 4px;
    border-radius: 50%;
    background: var(--primary-color);
}

.date::after {
    content: "";
    position: absolute;
    left: 0;
    right: -27px;
    bottom: 0;
    height: 1px;
    background: #e2dfda;
    border-radius: 50%;
}

.blog-info {
    padding: 12px 20px 28px 20px;
}

.blog-title {
    margin-top: 12px;
    color: #171100;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 175%;
}

.blog-info .btn {
    margin-top: 12px;
    color: #FFF;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 18px 21px;
    background-color: #171100;
}   

.blog-info .btn:hover {
    background-color: var(--primary-color);
}

.blog .carousel {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    gap: 7px;

}

.carousel .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #5F5B53;
}

.carousel .dot.active {
    background-color: var(--primary-color);
}

/* ============= Footer ============== */
.footer {
    padding-bottom: 28px;
    background: #2E2100;
}

.footer .row {
    padding: 96px 0 38px 0;
    border-bottom: 1px solid #59554B;
}

.footer-info {
    width: 267px;
    margin-right: 15px;
}

.footer-info .logo-wrapper p {
    color: #FFF;
    font-family: Sen;
    font-size: 2.4rem;
    font-weight: 700;
}

.footer-info .logo-wrapper .dot {
    color: var(--primary-color);
}

.footer-info .desc {
    margin-top: 18px;
    color: #BFBCB2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 185.714%;
}

.social {
    margin-top: 18px;
    display: flex;
    gap: 18px;
}



.footer .column-wrapper {
    margin-left: auto;
    display: flex;
    gap: 130px;
}

.column .header {
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;

}

.column .seperate {
    height: 1px;
    width: 130px;
    background: #59554B;
    margin-top: 14px;
}

.column .list {
    margin-top: 14px;
}

.column .list .services {
    display: inline-block;
    margin-top: 12px;
    white-space: nowrap;
    color: #BFBCB2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 185.714%;
}

.column:last-child .services {
    width: 231px;
    white-space: normal;
}

.column:last-child b {
    color: #FFF;
    font-weight: 600;
}

.copyright {
    margin-top: 28px;
    text-align: center;
    color: #807D74;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 185.714%;
}
